.test {
  border: 1px solid red;
}

body#otbApp .ink-modal>.modal-header>.modal-close:after, body#otbApp .ink-modal>header>.modal-close:after{
  font-family: sans-serif;
  content: "X";
  font-weight: bolder;
}

html, body {
    height:100%;
}

body {
  background-image: url('../img/bkgrnd.png');
}



/* header */

#header {
  padding: 6px 0;
  overflow: hidden;
  position: absolute;
  height: 30px;
  
}

.nav {
  position: relative;
  opacity: 0;
  padding-bottom: 8px;
  padding-right: 10px;
  cursor: pointer;
  font-family: 'Rock Salt', cursive;
  font-size: 90%;
  list-style: none;
  z-index: 1000;
}

.headerL {
  position: relative;
  overflow: hidden;
}

.headerR {
  opacity: 0;
  position: relative;
  z-index: 1000;
}

#about-link {
  margin-right: 15px;
}

.bordered {
  border-bottom: 2px solid gray;
  border-radius: 10px;
}

/* body */

.mainContainer {
  min-height: 100%;
  position: relative;
}

.vidBox {
  position: absolute;
  left: -200%;
}

#overlay {
  height: 100%;
  position: relative;
  padding-top: 10%;
}

.overlay_text {
  font-family: "Helvetica", sans-serif;
  display: none;
  margin-bottom: 8px;
}

#intro_text1 {
  font-size: 125%;
}

#intro_text2 {
  margin-bottom: 20px;
}

#title_text {
  font-size: 250%;
  font-family: 'Rock Salt', cursive;
  margin-bottom: 30px;
}

#big_play_btn{
  visibility: hidden;
}

#frame1 {
  visibility: hidden;
  position: absolute;
  z-index: 500;
  bottom: 30px;
}

#profile_picL {
  opacity: 0;
  position: absolute;
  bottom: 50px;
  left: 55px;
  z-index: 1000;
}

#profile_picR {
  opacity: 0;
  position: absolute;
  bottom: 50px;
  left: 555px;
  z-index: 1000;
}

#usernameL {
  opacity: 0;
  position: absolute;
  bottom: 60px;
  left: 110px;
  z-index: 1000;
  color: white;
}

#usernameR {
  opacity: 0;
  position: absolute;
  bottom: 60px;
  left: 610px;
  z-index: 1000;
  color: white;
}

#displayDiv {
  visibility: hidden;
  position: fixed;
   top: 50%;
   left: 50%;
   height: 500px;
   margin-top: -250px;
   width: 1000px;
   margin-left: -520px;
}

#replayDiv {
  position: fixed;
   top: 50%;
   left: 50%;
   height: 160px;
   margin-top: -80px;
   width: 160px;
   margin-left: -80px;
}

#replay {
  cursor: pointer;
  z-index: 1000;
  margin-left: 10px;
}

.player-screen {
  position: relative;

}

#vidDivL, #vidDivR {
  display: inline-block;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.instaVid {
  list-style: none;  
}

/*  audio/video controls  */

#player_btns {
  opacity: 0;
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 10%;
  margin: auto;
  width: 80%;
  height: 50px;
}
  
#progBkgd {
  background-color: #333333;
  height: 15px;
  margin-top: 20px;
  border-bottom: 2px solid gray;
  border-radius: 5px;
}

#progColor {
  width: 0%;
  background-color: orange;
  height:15px;
  border-radius: 5px;
}

#play_btn, #pause_btn {
  opacity: 0;
  margin-right: 10px;
}

.removed {
  display: none;
}

#play_btn, #pause_btn, #big_play_btn {
  cursor: pointer;
  border-bottom: 4px solid gray;
  margin-top: 0;
  border-radius: 10px;
}

/******************** Modal ***********************/

.ink-modal {
  background-image: url('../img/bkgrnd.png');
  opacity: .7;
}

.modal-header {
  background-color: #69414E;
  opacity: .7;
}

/******************** footer *********************/

footer {
  visibility: hidden;
  left: 5%;
  right: 5%;
  position: absolute;
  bottom: 15px;
}

#disclaimer {
  font-family: "Helvetica", sans-serif;
  font-size: 70%;
  text-align: center;
}