.test {
  border: 1px solid green;
}

body {
  background-image: url('../img/bkgrnd.png');
}

/* header */

header {
  display: none;
  padding: 12px;
}

.headerL {
  
}

.headerL p {
  display: inline;
  margin: 0 4px;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-family: 'Rock Salt', cursive;
  font-size: 90%
}

.bordered {
  border-bottom: 2px solid gray;
  border-radius: 10px;
}

.headerR {
  width: 20%;
}

.fb-like {
  margin-right: 4px;
}

/* body */
.container {
  border: 1px solid red;
}
.vidBox {
  position: absolute;
  left: -200%;
}

/*.fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}*/

#overlay {
  /*width: 60%;
  position: absolute;
  top: 175px;
  left: 20%;
  margin: 0 auto;
  text-align: center;*/
}

.overlay_text {
  font-family: "Helvetica", sans-serif;
  display: none;
  padding: 25px;
}

#intro_text1 {
  font-size: 125%;
}

#title_text {
  font-size: 250%;
  font-family: 'Rock Salt', cursive;
}

#big_play_btn{
  display: none;
  /*width: 25%;
  margin: 8px auto;
  text-align: center;*/
}

#displayDiv {
  visibility: hidden; 
}

#vidDivL {
  margin: 7px 2% 7px 3%;
}

#vidDivR {
  margin: 7px 3% 7px 2%;
}

#vidDivL, #vidDivR {
  display: inline-block;
  border: 5px solid black; 
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.instaVid {
  list-style: none;  
}

/*  audio/video controls  */

#progBkgd {
  background-color: #333333;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  border-bottom: 2px solid gray;
  border-radius: 5px;
}

#progColor {
  width: 0%;
  background-color: orange;
  height:10px;
}

#player_btns {
  display: none;
  /*width: 25%;
  position: relative;
  margin: 20px auto;*/
  border: 1px solid red;
  /*overflow: hidden;*/
}

#play_btn, #pause_btn {
  /*width: 20%;*/
  display: none;
  margin-right: 5px;
}

#play_btn, #pause_btn, #big_play_btn {
  cursor: pointer;
  border-bottom: 4px solid gray;
  border-radius: 10px;
}

/*  footer  */

footer {
  display: none;
  position: absolute;
  bottom: 15px;
  /*width: 100%*/
}

#disclaimer {
  font-family: "Helvetica", sans-serif;
  font-size: 70%;
  text-align: center;
  /*width: 95%;*/
}


/*.photo .avatar {
  width: 40px;
  height: 40px;
  padding: 2px;
  position: absolute;
  bottom: 11px;
  right: 8px;
  background: white;
}

.photo {
  margin-bottom: 20px;
  float: left;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background: white;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.photo .heart {
  height: 16px;
  position: absolute;
  left: 13px;
  bottom: 16px;
  padding: 0 5px 0 22px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: white url('../images/fav.png') no-repeat 2px 0;
}*/
