/* header */

header {
  display: none;
  padding: 8px;
}

.headerR {
  float: right;
}

.fb-like {
  margin-right: 4px;
}

/* body */

#container {
  width: 100%;
  position: relative;
}

.photoBox {
  display: none;
}

#overlay {
  width: 60%;
  position: absolute;
  top: 100px;
  left: 20%;
  margin: 0 auto;
  text-align: center;
}

.overlay_text {
  font-family: "Helvetica", sans-serif;
  display: none;
  padding: 15px;
}

#intro_text1 {
  font-size: 125%;
}

#title_text {
  font-size: 225%;
  font-family: 'Rock Salt', cursive;
}

#big_play_btn{
  display: none;
  width: 25%;
  margin: 8px auto;
  text-align: center;
}

#displayDiv {
  visibility: hidden; 
  width: 70%;
  height: 320px;
  position: relative;
  left: 10%;
  padding-left: 10%;
  margin-top: 50px;
}

#photoDivL, #photoDivR {
  margin: 7px;
  display: inline-block; 
  border: 5px solid black; 
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.instaMedia {
  list-style: none;  
}

/*  audio/video controls  */

#progBkgd {
  background-color: #333333;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

#progColor {
  width: 0%;
  background-color: orange;
  height:10px;
}

#player_btns {
  display: none;
  width: 20%;
  position: relative;
  margin: 20px auto;
}

#play_btn {
  margin-left: 15px;
}

#play_btn, #pause_btn, #stop_btn, #big_play_btn {
  cursor: pointer;
}

/*  footer  */

footer {
  display: none;
  position: absolute;
  bottom: 15px;
  width: 100%
}
#disclaimer {
  font-family: "Helvetica", sans-serif;
  font-size: 70%;
  text-align: center;
  width: 95%;
}


/*.photo .avatar {
  width: 40px;
  height: 40px;
  padding: 2px;
  position: absolute;
  bottom: 11px;
  right: 8px;
  background: white;
}

.photo {
  margin-bottom: 20px;
  float: left;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background: white;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.photo .heart {
  height: 16px;
  position: absolute;
  left: 13px;
  bottom: 16px;
  padding: 0 5px 0 22px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: white url('../images/fav.png') no-repeat 2px 0;
}*/
